.up-heder
  .up_heder__box
    %ul.up_heder__box__manu
      %li.up_heder__box__manu-new
        = link_to edit_user_path(current_user),class:"up_heder__box__manu-new" do
          ログイン
      -# %li.up_heder__box__manu-in
      -#   = link_to "#",class:"up_heder__box__manu-in" do
      -#     ログイン
  .name-bar
    %h1 My Place