.up-heder{
  height: 100px;
  background-color:#ffddff;
  display: flex;
  background-image: url("15.jpg");
  background-position: top;
  border-bottom:solid 1px #ffddff;

  .name-bar{
    width: 300px;
    
    margin: 0 auto;
    padding-top: 30px;
    
   
    h1{
      font-size: 40px;
      font-family: fantasy;
      font-weight: bolder;
      
    }
  }
   .up_heder__box{
     width: 200px;
     padding-top: 50px;
     
     ul{
       display: flex;
       justify-content: space-around;
       
     li{
      height: 40px;
      border: solid 1px #FF00FF;/*線色*/
      padding: 0.5em;/*文字周りの余白*/
      border-radius: 0.5em;/*角丸*/
      text-align: center;
      
      
      a{
        color: #FF00FF;/*文字色*/
        text-decoration: none;
        font-weight: bolder;
        
      }
     }
    }
  }
}