.post_main
  .main_side
    %p.nickname
      = current_user.name
    %p.new-post
      = link_to "#",class:"new-post" do
        投稿する
  .main_post
    .posts
      .posts_left
        %p.psts_info_talker
          = "新名"
        %p.posts_taxt 
          = "東方神起すとぷり"
      .posts_right